:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;

  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 600;
  --size-100: 0.5em;
  --size-200: 1em;
  --size-300: 1.5em;
  --size-400: 2em;
  --size-500: 3em;
  --size-600: 3.5em;
  --size-700: 4em;
  --size-800: 5em;
  --size-900: 7em;
  --size-xl: 9em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background:
    url("./images/bg-pattern-desktop.svg"),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */
main {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "hero"
    "section";
  align-items: start;
}

@media screen and (min-width: 40em) {
  main {
    display: grid;
    grid-template-areas:
      "header hero"
      "section hero";
  }

}

header {
  grid-area: header;
  height: fit-content;
}

.hero-image {
  grid-area: hero;
  height: inherit;
}

.hero-image picture {
  background-color: rebeccapurple;
  height: inherit;
}
.hero-image img {
  object-fit: cover;
  border-radius: 50%;
}

section {
  grid-area: section;
}

/* Utility classes */
.bg-gradient-primary {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.bg-gradient-secondary {
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
